/*Container*/
.container {
  max-width: 90%;
  margin: 0 auto;
}
/*Container min*/
.container-min {
  max-width: 80%;
  margin: 0 auto;
}
/*Nav float*/
.float {
  z-index: 22;
  transition: 500ms;
  width: 100%;
  background: white !important;
  border-bottom: solid 1px #e6e6e6;
  height: 5rem;
  ul {
    li {
      a {
        color: black !important;
      }
    }
  }
}
/*Parallax*/
.parallax-container {
  height: 95vh;
}
.video{
  height: 400px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.message{
  width: 160px;
  position: fixed;
  background: rgba(white, .8);
  padding: .5rem;
  border-radius: 10px;
  bottom: 2rem;
  right: 1rem;
  img{
    width: 100%;
  }
  p{
    text-align: center;
    color: $grey-color;
    font-weight: bold;
  }
}

