/*Background image*/
@mixin coverimg($url, $height) {
    background-image: url($url);
          height: $height;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
}