/*Container*/
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");
.container {
  max-width: 90%;
  margin: 0 auto;
}

/*Container min*/
.container-min {
  max-width: 80%;
  margin: 0 auto;
}

/*Nav float*/
.float {
  z-index: 22;
  -webkit-transition: 500ms;
  transition: 500ms;
  width: 100%;
  background: white !important;
  border-bottom: solid 1px #e6e6e6;
  height: 5rem;
}

.float ul li a {
  color: black !important;
}

/*Parallax*/
.parallax-container {
  height: 95vh;
}

/*Raleway*/
/*Background image*/
/*Body*/
body * {
  padding: 0px;
  border: 0px;
  margin: 0px;
  font-family: "Raleway", sans-serif;
  color: #241c15;
  /*Selection*/
}

body *::-moz-selection {
  background: #f29400;
  color: white;
}

body *::selection {
  background: #f29400;
  color: white;
}

/*Nav*/
header {
  z-index: 1000000;
  position: relative;
}

header .main-nav {
  width: 100%;
  background: transparent;
  position: fixed;
  padding-top: 0.3rem;
}

header .main-nav .main-nav__wrapper {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5px;
}

header .main-nav .main-nav__wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-nav .main-nav__wrapper ul:nth-of-type(1) li a img {
  width: 75px;
}

header .main-nav .main-nav__wrapper ul li {
  list-style: none;
  padding-right: 3.125rem;
}

header .main-nav .main-nav__wrapper ul li:nth-of-type(3) a {
  color: #f29400;
  font-weight: bold;
  font-size: 1.1rem;
}

header .main-nav .main-nav__wrapper ul li a {
  text-decoration: none;
  color: white;
  font-family: "Raleway", sans-serif;
}

header .main-nav .main-nav__wrapper ul li a:hover {
  color: #e7511d;
}

header .main-nav .main-nav__wrapper ul li a img {
  width: 178px;
}

header .main-nav .main-nav__wrapper ul li a span {
  color: white;
}

header .main-nav .main-nav__wrapper ul li a div {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #f29400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: inset 0 0 0 0.0625rem white;
          box-shadow: inset 0 0 0 0.0625rem white;
  text-align: center;
  font-size: 20px;
}

header .main-nav .main-nav__wrapper ul li a div i {
  color: white;
  font-size: 1.3rem;
}

.parallax-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.parallax-container:last-child .parallax-content h3 {
  text-align: center;
  padding-bottom: 1rem;
}

.parallax-container:last-child .parallax-content .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}

.parallax-container .parallax-content {
  width: 100%;
}

.parallax-container .parallax-content h3 {
  color: white;
  font-size: 2.3rem;
  font-weight: bold;
}

.parallax-container .parallax-content p {
  color: white;
  font-size: 1.3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.parallax-container .parallax-content a {
  background-color: #f29400;
  font-weight: bold;
}

/*Section Services*/
.white {
  padding-bottom: 3rem;
  /*Cards*/
}

.white h4 {
  padding-top: 4rem;
  text-align: center;
}

.white .cards-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(360px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

.white .cards-wrapper .card {
  padding: 1rem;
}

.white .cards-wrapper .card:nth-of-type(1) .img {
  background-image: url("https://res.cloudinary.com/dd0wutwfh/image/upload/v1560768056/photo-1518914781460-a3ada465edec.jpg");
  height: 223px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.white .cards-wrapper .card:nth-of-type(2) .img {
  background-image: url("https://res.cloudinary.com/dd0wutwfh/image/upload/v1560768094/photo-1516734212186-a967f81ad0d7.jpg");
  height: 223px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.white .cards-wrapper .card:nth-of-type(3) .img {
  background-image: url("https://res.cloudinary.com/dd0wutwfh/image/upload/v1560768126/photo-1535930891776-0c2dfb7fda1a.jpg");
  height: 223px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.white .cards-wrapper .card:nth-of-type(4) .img {
  background-image: url("https://res.cloudinary.com/dd0wutwfh/image/upload/v1560768159/photo-1522276498395-f4f68f7f8454.jpg");
  height: 223px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.white .cards-wrapper .card:nth-of-type(5) .img {
  background-image: url("https://res.cloudinary.com/dd0wutwfh/image/upload/v1560768206/photo-1518155317743-a8ff43ea6a5f.jpg");
  height: 223px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.white .cards-wrapper .card:nth-of-type(6) .img {
  background-image: url("https://res.cloudinary.com/dd0wutwfh/image/upload/v1560768243/photo-1415473655046-e32ca170859f.jpg");
  height: 223px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.white .cards-wrapper .card:nth-of-type(7) .img {
  background-image: url("https://res.cloudinary.com/dd0wutwfh/image/upload/v1560768276/photo-1551025440-840be77538c2.jpg");
  height: 223px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.white .cards-wrapper .card h3 {
  text-align: center;
  font-size: 1.3rem;
  padding-top: 0.5rem;
  font-weight: bold;
}

.white .cards-wrapper .card small {
  text-align: center;
  color: #e7511d;
  font-weight: bold;
  display: block;
  font-size: 1rem;
}

.white .cards-wrapper .card small span {
  color: #f29400;
}

.white .cards-wrapper .card p {
  text-align: center;
  padding-top: 0.5rem;
  color: #5a6261;
}

/*Section form*/
.orange {
  padding: 1rem;
}

.orange h4 {
  color: white;
  text-align: center;
  font-size: 1.8rem;
  padding-bottom: 1rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.orange .form-input .row {
  padding-bottom: 0.5rem;
}

.orange .form-input .row .input-field {
  margin-top: 0px;
  margin-bottom: 0px;
}

.orange .form-input .row .input-field input {
  border: 1px solid white;
  border-radius: 5px;
  padding-left: 1em;
  color: white;
  -webkit-box-shadow: 0 1px 0 0 transparent;
          box-shadow: 0 1px 0 0 transparent;
}

.orange .form-input .row .input-field input:hover + label {
  color: white;
  -webkit-box-shadow: 0 1px 0 0 white;
          box-shadow: 0 1px 0 0 white;
}

.orange .form-input .row .input-field label {
  top: -5px;
  color: white !important;
}

.orange .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2rem;
}

.orange .actions .btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #e7511d;
}

/*Footer*/
footer {
  background-color: #535459;
  height: 100px;
}

footer .logo {
  background-image: url("https://res.cloudinary.com/dd0wutwfh/image/upload/v1560717721/kdmascotas-logo-_1.png");
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 5%;
}

/*Label inputs*/
.input-field input[type="text"]::-webkit-input-placeholder {
  padding-left: 0.5rem;
  color: rgba(255, 255, 255, 0.5);
}
.input-field input[type="text"]:-ms-input-placeholder {
  padding-left: 0.5rem;
  color: rgba(255, 255, 255, 0.5);
}
.input-field input[type="text"]::-ms-input-placeholder {
  padding-left: 0.5rem;
  color: rgba(255, 255, 255, 0.5);
}
.input-field input[type="text"]::placeholder {
  padding-left: 0.5rem;
  color: rgba(255, 255, 255, 0.5);
}
/*# sourceMappingURL=main.css.map */